{% extends 'base.html' %}

{% block head_title %}
Edit Pet
{% endblock %}

{% block title %}
<h1 class="display-3 text-light text-center">Edit pet</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card bg-light">
            <img src="{{ pet.photo_url }}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{ pet.pet_name }}</h5>
                <p class="card-text">{{ pet.notes }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Species: {{ pet.species }}</li>
                <li class="list-group-item">Age: {{ pet.age }}</li>
            </ul>
        </div>
    </div>
    <div class="col-6 text-light">
        <form action="/{{ pet.id }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="mt-5">
                {{ form.photo_url.label(class_="form-label") }}
                {{ form.photo_url(class_="form-control") }}

                {% for error in form.photo_url.errors %}
                <div class="form-text text-danger">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="mt-5">
                {{ form.notes.label(class_="form-label") }}
                {{ form.notes(class_="form-control") }}
            </div>
            <div class="form-check mt-5">
                {{ form.available(class_="form-check-input") }}
                {{ form.available.label(class_="form-check-label")}}
            </div>
            <div>
                <button class="btn btn-outline-success mt-3">
                    Edit
                </button>
                <a href="/" class="btn btn-outline-primary mt-3 ms-3">
                    Go back
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}