{% extends 'base.html' %}

{% block head_title %}
Pet Homepage
{% endblock %}

{% block title %}
<h1 class="display-1 text-center text-light">Pets</h1>
<a href="/add" class="link-info">Add a pet</a>
{% endblock %}

{% block content %}
<div class="row text-dark">
    {% for pet in pets %}
    <div class="col-4 mt-3">
        <div class="card">
            <img src="{{ pet.photo_url }}" class="card-img-top" alt="">
            <div class="card-body bg-light">
                <h5 class="card-title">
                    {{ pet.name }}
                </h5>
                <p class="card-text">
                    {% if pet.available %}
                    <b class="text-success">Available</b>
                    {% else %}
                    <b class="text-danger">Not Available</b>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}